body {
    padding:2%;
    font-family:sans-serif;
}

p {
    padding:2%;
    margin:2%;
    border:thin solid black;
}

h1, h2, h3 {
    color:#10A090;
    text-decoration: underline overline;
    border-bottom:thin solid #784008;
}

ul {
    padding: 10% 10% 10% 25%;
    font-family:serif;
}

.center {
    padding:5% 5% 5% 5%;
}

blockquote {
    color: #F08020;
    font-style: italic;
}

img {
    position: center;
}

a {
    color: black;
}